*{
      margin: 0;
      padding: 0;
}
body{
      font-family: sans-serif;
      overflow-x: hidden;
}

/* navbar start */
nav{
      display: flex;
      position: sticky;
      width: 100%;
      line-height: 60px;
      background-color: rgb(127, 171, 243);
      padding: 0 10px;
      top: 0;
      z-index: 999;
}
.header{
      width: 100%;
}
.logo a{
      text-decoration: none;
      color: white;
      font-size: 2.5rem;
      text-transform: uppercase;
      float: left;
      opacity: 1;
      transition: .3s;
}
.logo a b{
      color: #ddd;
}
.logo a:hover{
      opacity: .7;
}
.menu{
      float: right;
}
.menu ul{
      list-style-type: none;
}
.menu ul li{
      float: left;
}
.menu ul li a{
      text-decoration: none;
      margin-right: 20px;
      color: white;
      font-size: 1rem;
      transition: .3s;
}
.menu ul li a:hover{
      background-color: black;
      border-radius: 3px;
      padding: 5px;
      color: #ddd;
}
.humberger{
      display: none;
      flex-direction: column;
      cursor: pointer;
      margin: 15px;
      right: 0;
      justify-content: space-between;
      height: 20px;
      position: relative;
}
.humberger span{
      display: block;
      background-color: white;
      width: 30px;
      height: 3px;
      border-radius: 5px;
      transition: .3s;
}
/* navbar end */


/* home */
#home{
      margin: auto;
      min-height: 100vh;
      background-color: #eee;
      background-repeat: no-repeat;
      width: 100%;
}
.hero{
      overflow: hidden;
      position: relative;
      margin: auto;
      padding: auto;
      justify-content: center;
      text-align: center;
}
.foto-bersama{
      margin: auto;
      width: 500px;
      height: 380px;
}
.deskripsi{
      margin-top: 10vh;
      text-align: center;
}
.nama{
      font-size: 3rem;
      color: rgb(47, 140, 211);
      text-transform: uppercase;
}
p{
      font-size: 1rem;
      margin: 0 10vh;
      color: rgb(109, 108, 108);
}


/* profile */
#profile{
      margin: auto;
      min-height: 100vh;
      background: rgb(223, 231, 245);
      background-repeat: no-repeat;
      width: 100%;
}
.profile_title{
      font-size: 2rem;
      color: black;
      text-transform: uppercase;
      text-align: center;
      padding-top: 20px;
      transition: .5s;
}
#profile:hover .profile_title{
      font-size: 1.8rem;
}
.underline_profile{
      width: 360px;
      height: 3px;
      margin: auto;
      opacity: 0;
      transform: scale(0);
      border-radius: 3px;
      background-color: gray;
      transition: .5s;
}
#profile:hover .underline_profile{
      transform: scale(1);
      opacity: 1;
}
.profile{
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      text-align: center;
}
.card{
      display: flexbox;
      width: 200px;
      height: 200px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 25px;
      border-radius: 50%;
      background-color: rgb(127, 171, 243);
      transition: 1s;
}
.card:hover{
      width: auto;
      height: auto;
      border-radius: 10px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px;
}
.profile_content{
      display: flexbox;
      opacity: 0;
      overflow: hidden;
      font-size: 0px;
      transition-delay: .5s;
      transition: 1s;
}
.card:hover .profile_content{
      font-size: 1rem;
      opacity: 1;
}
.img_content{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      position: relative;
      transition-delay: .5s;
      transition: 1s;
}
.card:hover .img_content{
      width: 150px;
      height: 150px;
}
.contact{
      background-color: #ddd;
      margin: 3% 33% 2% 33%;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: none;
      padding: 5px 0;
      color: #fff;
      border-radius: 5px;
      transition: .5s;
}
.contact:hover{
      color: black;
}
.img-wa{
      width: 30px;
      height: 30px;
      margin-right: 10px;
}
.card:hover .contact{
      display: flex;
}
span{
      margin-top: 5%;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      color: black;
}


/* myschool */
#myschool{
      min-height: 100vh;
      width: 100%;
      margin: auto;
      background-color: #eee;
}
a{
      text-decoration: none;
}
.school{
      overflow: hidden;
      position: relative;
      margin: auto;
      padding: auto;
      justify-content: center;
      text-align: center;
}
.img_school{
      margin: 0;
      opacity: 0;
      width: 1px;
      height: 1px;
      border-radius:0px;
      transition: 1s;
}
.desk_school{
      margin-top: 10vh;
}
.desk_school:hover .img_school{
      opacity: 1;
      margin: 50px 0 20px 0;
      width: 600px;
      height: 300px;
      border-radius: 10px;
}
.deskripsi_school{
      color: black;
      margin: 0 20px;
      opacity: 1;
      transition: .3s;
}
.deskripsi_school:hover{
      opacity: .7;
}
.deskripsi_school a{
      transition: .3s;
}
.deskripsi_school a:hover{
      text-decoration: none;
      color: black;
}
.desk_school{
      text-align: center;
}
.nama_school{
      text-decoration: none;
      color: gray;
      text-transform: uppercase;
      font-size: 4rem;
}

/* comment */
.comment{
      min-height: 70vh;
      background-color: #ddd;
      padding: 50px;
      margin: 0;
}
form{
      padding: 40px;
      background-color: rgb(127, 171, 243);
      display: flex;
      flex-direction: column;
      margin: auto;
      margin: 0 10%;
      border-radius: 10px;
}
.title-comment{
      font-size: 40px;
      font-weight: bold;
      text-align: center;
}
.lbl{
      margin-top: 30px;
      font-size: 15px;
}
input{
      padding: 7px;
      margin-top: 8px;
      border-radius: 5px;
      border: 0;
}
.isi-comment{
      height: 80px;
}
#submit{
      width: 150px;
      margin: auto;
      margin-top: 20px;
      padding: 10px;
      background-color: #ddd;
      border-radius: 8px;
      border: 0;
      transition: .5s;
}
#submit:hover{
      background-color: #fff;
}

/* copyright */
#copyright{
      background-color: rgb(127, 171, 243);
      text-align: center;
      padding: 10px;
}
.copyright_content{
      color: white;
}
@media  screen and (max-width:576px) {
      .menu ul{
            display: flex;
            flex-direction: column;
            right: 0;
            position: absolute;
            margin-top: 45px;
            z-index: -999;
            width: 100%;
            height: auto;
            text-align: center;
            transform: translateX(100%);
            border-radius: 0 0 8px 8px;
            background-color: rgb(127, 171, 243);
            transition: all 1s;
            opacity: 0;
      }
      .menu ul.slide{
            transform: translateX(0);
            opacity: 1;
      }
      .humberger.slide span:nth-child(1){
            transform: translateY(7px) rotate(45deg);
      }
      .humberger.slide span:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
      }
      .humberger.slide span:nth-child(2){
            transform: scale(0);
      }
      .humberger{
            display: flex;
            float: right;
      }
      .contact{
            margin: 3%;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: none;
            padding: 5px 0;
            border-radius: 5px;
            transition: .5s;
      }
      span{
            font-size: 10px;
      }
      .desk_school{
            margin-top: 5vh;
      }
      .desk_school:hover .img_school{
            opacity: 1;
            margin: 50px 0 20px 0;
            width: 400px;
            height: 200px;
            border-radius: 10px;
      }
      .deskripsi_school{
            color: black;
            text-align: justify;
            font-size: .8rem;
            margin: 0 15px;
            opacity: 1;
            transition: .3s;
      }
      .nama_school{
            text-decoration: none;
            color: gray;
            text-transform: uppercase;
            font-size: 2rem;
      }
}